.App {
  font-family: sans-serif;
  text-align: center;
  background: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: rgba(65, 50, 100, 0.08) 0px 30px 50px 0px;
  border-radius: 16px;
  width: 90%;
}

body {
  background: #e7eaf6;
  font-family: "Roboto", serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 20px 0;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 20px 0 0 0;
  font-size: 12px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

.search-form {
  display: flex;
  flex-direction: column;
}
.search-form-input {
  background: #e7eaf6;
  border: none;
  width: 100%;
  padding: 15px 10px;
  border-radius: 6px;
  font-size: 12px;
  margin-bottom: 10px;
}
.search-form-button {
  background: #34495e;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 18px;
}

/* .weather-forecast {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  margin-top: 30px;
  gap: 1 rem;
  text-transform: capitalize;
}
.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
}
.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  text-align: center;
  color: rgb(246, 82, 130);
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

.weather-forecast-day {
  flex: 0 0 auto;
  width: 120px;

  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px;
  scroll-snap-align: start;
}

@media (max-width: 600px) {
  .weather-app-data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .weather-app-temperature-container {
    flex-direction: row;
    align-items: center;
  }

  .weather-forecast {
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }

  .weather-forecast-day {
    min-width: 70px;
    text-align: center;
  }
} */
