.WeatherInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  text-align: center;
}

.weather-app-city {
  font-size: clamp(24px, 5vw, 36px);
  font-weight: bold;
  text-align: start;
  width: 100%;
}

.weather-app-data ul {
  list-style: none;
  text-align: start;
  margin: 0;

  padding: 0;
}

.weather-app-details {
  font-size: 1rem;
  color: rgba(39, 33, 66, 0.4);
  font-weight: 500;
}

.weather-app-details strong {
  color: darkblue;
}

.weather-app-temperature-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.weather-app-temperature-value {
  font-size: clamp(36px, 6vw, 52px);
  line-height: 1;
  font-weight: 700;
}
.weather-app-icon canvas {
  margin: 10px;
  width: 40px;
  height: 40px;
}

.weather-app-temperature-unit {
  font-size: clamp(16px, 4vw, 24px);
  line-height: 1;
}

.weather-app-temperature-unit a.active {
  text-decoration: none;
  color: aqua;
}

@media (max-width: 480px) {
  .App {
    padding: 20px;
  }

  .weather-app-city {
    font-size: 24px;
  }

  .weather-app-temperature-container {
    flex-direction: column;
    align-items: center;
  }

  .weather-app-temperature-value {
    font-size: 40px;
  }

  .weather-app-details {
    font-size: 14px;
  }
}
