.WeatherInfo {
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.weather-app-city {
  font-size: 36px;
  font-weight: bold;
  text-align: start;
}

.weather-app-data {
  align-items: center;
}

.weather-app-data ul {
  list-style: none;
  text-align: start;

  padding: 0;
}

.weather-app-details {
  margin: 10px;
  font-size: 1;
  line-height: 1;
  color: rgba(39, 33, 66, 0.4);
  font-weight: 500;
  text-align: start;
}

.weather-app-details ul {
  list-style: none;
}

.weather-app-details strong {
  color: darkblue;
  line-height: 12px;
}

.weather-app-temperature-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.weather-app-temperature-value {
  font-size: 52px;
  line-height: 1;
  font-weight: 700;
}
.weather-app-icon canvas {
  margin: 10px;
}

.weather-app-temperature-unit {
  font-size: 24px;
  line-height: 1;
}

.weather-app-temperature-unit a.active {
  text-decoration: none;
  color: aqua;
}
