.Weather main {
  padding: 30px 0px;
}
.Weather .weather-app-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.Weather .weather-app-city {
  margin: 0;
  font-size: 96px;
}

.Weather .weather-app-details {
  font-size: 1;
  line-height: 24px;
  color: rgba(39, 33, 66, 0.4);
  font-weight: 500;
}

.Weather .weather-app-details strong {
  color: rgb(246, 82, 130);
}

.Weather .weather-app-temperature-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.Weather .weather-app-temperature-value {
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
}
.Weather .weather-app-icon {
  width: 88px;
  height: 88px;
}

.Weather .weather-app-temperature-unit {
  margin-top: 0;
  font-size: 18px;
  line-height: 1;
}

.Weather .weather-forecast {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  margin-top: 30px;
  gap: 1 rem;
}
.Weather .weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
}
.Weather .weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}
.Weather .weather-forecast-temperatures {
  text-align: center;
  color: rgb(246, 82, 130);
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.Weather .weather-forecast-temperature {
  padding: 0 10px;
}
